```{figure} ../images/banner.png
---
align: center
name: banner
---
```

# Chapter 8 : Array Columns

## Chapter Learning Objectives

- Various data operations on columns containing date strings, date and timestamps.

## Chapter Outline

- [1. How to deal with Array columns?](#1)
    - [1a. How to create a array column from multiple columns?](#2)
    - [1b. How to remove duplicate values from an array column?](#3)
    - [1c. How to check if a value is in an array column?](#4)
    - [1d. How to find the list of elements in column A, but not in column B without duplicates?](#5)
    - [1e. How to sort the column array in ascending order?](#6)
    - [1f. How to create an array from a  column value  repeated  many times?](#7)
    - [1g. How to remove all elements equal to an element from the given array in a column?](#8)
    - [1h. How to locate the position of first occurrence of the given value in the given array in a column?](#9)
    - [1i. How to find the minimum value of an array in a column?](#10)
    - [1j. How to find the maximum value of an array in a column?](#11)
    - [1k. How to convert a column of nested arrays into a map column?](#12)
    - [1l. How to sort an array in a column in ascending or descending order?](#13)
    - [1m. How to slice an array in a column?](#14)
    - [1n. How to shuffle a column containing an array?](#15)
    - [1o. How to create a  array column  containing elements with sequence(start, stop, step)?](#16)
    - [1p. How to reverse the order(not reverse sort) of an array in a column ?](#17)
    - [1q. How to combine two array columns into a map column?](#18)
    - [1r. How to convert unix timestamp to a string timestamp?](#19)
    - [1s. How to find overlap between 2 array columns?](#20)
    - [1t. How to flatten a column containing nested arrays?](#21)
    - [1u. How to concatenate the elements of an array in a column?](#22)
    - [1v. How to zip 2 array columns ?](#23)

In [1]:

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
from IPython.display import display_html
import pandas as pd 
import numpy as np
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html(index=False)
        html_str+= "\xa0\xa0\xa0"*10
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)
space = "\xa0" * 10

In [2]:
import panel as pn

css = """
div.special_table + table, th, td {
  border: 3px solid orange;
}
"""
pn.extension(raw_css=[css])

<a id='1'></a>

##  Chapter Outline - Gallery



[![alt](img/chapter8/1.png)](#2)

click on  | any image
---: |:--- 
[![alt](img/chapter8/2.png)](#3)| [![alt](img/chapter8/3.png)](#4)
[![alt](img/chapter8/4.png)](#5)| [![alt](img/chapter8/5.png)](#6)
[![alt](img/chapter8/6.png)](#7)| [![alt](img/chapter8/7.png)](#8)
[![alt](img/chapter8/8.png)](#9)| [![alt](img/chapter8/9.png)](#10)
[![alt](img/chapter8/10.png)](#11)| [![alt](img/chapter8/11.png)](#12)
[![alt](img/chapter8/12.png)](#13)| [![alt](img/chapter8/13.png)](#14)
[![alt](img/chapter8/14.png)](#15)| [![alt](img/chapter8/15.png)](#16)
[![alt](img/chapter8/16.png)](#17)| [![alt](img/chapter8/17.png)](#18)
[![alt](img/chapter8/18.png)](#19)| [![alt](img/chapter8/19.png)](#20)
[![alt](img/chapter8/20.png)](#21)| [![alt](img/chapter8/21.png)](#22)
[![alt](img/chapter8/22.png)](#23)|

<a id='2'></a>

<a id='2'></a>

## 1a. How to create a array column from multiple columns?



```{figure} img/chapter8/1.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>pyspark.sql.functions.array(*cols)</b>

Creates a new array column.

<b>Parameters</b>

cols – list of column names (string) or list of Column expressions that have the same data type.

'''

<b>Input:  Spark data frame with multiple columns</b>

In [3]:
df_mul = spark.createDataFrame([('John', 'Seattle', 60, True, 1.7, '1960-01-01'), 
('Tony', 'Cupertino', 30, False, 1.8, '1990-01-01'), 
('Mike', 'New York', 40, True, 1.65, '1980-01-01')],['name', 'city', 'age', 'smoker','height', 'birthdate'])
df_mul.show()

+----+---------+---+------+------+----------+
|name|     city|age|smoker|height| birthdate|
+----+---------+---+------+------+----------+
|John|  Seattle| 60|  true|   1.7|1960-01-01|
|Tony|Cupertino| 30| false|   1.8|1990-01-01|
|Mike| New York| 40|  true|  1.65|1980-01-01|
+----+---------+---+------+------+----------+

<b>Output :  Spark data frame with a array column </b>

In [4]:
from pyspark.sql.functions import array
df_array = df_mul.select(array(df_mul.age,df_mul.height,df_mul.city).alias("array_column"))
df_array.show()

+--------------------+
|        array_column|
+--------------------+
|  [60, 1.7, Seattle]|
|[30, 1.8, Cupertino]|
|[40, 1.65, New York]|
+--------------------+

<b> Summary:</b>

In [5]:
print("Input                     ",            "Output")
display_side_by_side(df_mul.toPandas(),df_array.toPandas())

Input                      Output

<a id='3'></a>

## 1b. How to remove duplicate values from an array column?


```{figure} img/chapter8/2.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>ppyspark.sql.functions.array_distinct(col)</b>

removes duplicate values from the array


<b>Parameters</b>:

col – name of column or expression
'''

<b>Input:  Spark data frame with a array column with duplicates</b>

In [6]:
df_array = spark.createDataFrame([([1, 2, 3, 2, 4],), ([4, 5, 5, 4, 6],)], ['data'])
df_array.show()

+---------------+
|           data|
+---------------+
|[1, 2, 3, 2, 4]|
|[4, 5, 5, 4, 6]|
+---------------+

<b>Output :  Spark data frame with a array column with no duplicates</b>

In [7]:
from pyspark.sql.functions import array_distinct
df_array_no = df_array.select(array_distinct(df_array.data).alias("array_no_dup"))
df_array_no.show()

+------------+
|array_no_dup|
+------------+
|[1, 2, 3, 4]|
|   [4, 5, 6]|
+------------+

<b> Summary:</b>

In [8]:
print("Input                     ",            "Output")
display_side_by_side(df_array.toPandas(),df_array_no.toPandas())

Input                      Output

data
"[1, 2, 3, 2, 4]"
"[4, 5, 5, 4, 6]"
array_no_dup
"[1, 2, 3, 4]"
"[4, 5, 6]"

<a id='4'></a>

## 1c. How to check if a value is in an array column?


```{figure} img/chapter8/3.png
---
align: center
---
```

Lets first understand the syntax



```{admonition} Syntax
<b>pyspark.sql.functions.array_contains(col, value)</b>

returns null if the array is null, true if the array contains the given value, and false otherwise.



<b>Parameters</b>:

- col – name of column containing array
- value – value or column to check for in array

'''

<b>Input:  Spark data frame with a array column</b>

In [9]:
df1 = spark.createDataFrame([([1, 2, 3],), ([],),([None, None],)], ['data'])
df1.show()

+---------+
|     data|
+---------+
|[1, 2, 3]|
|       []|
|      [,]|
+---------+

<b>Output :  Spark data frame with a column to indicate if a value exists </b>

In [10]:
from pyspark.sql.functions import array_contains
df2 = df1.select(array_contains(df1.data, 1).alias("if_1_exists"))
df2.show()

+-----------+
|if_1_exists|
+-----------+
|       true|
|      false|
|       null|
+-----------+

<b> Summary:</b>

In [11]:
print("input                     ",            "output")
display_side_by_side(df1.toPandas(),df2.toPandas())

input                      output

data
"[1, 2, 3]"
[]
"[None, None]"
if_1_exists
True
False
None

<a id='5'></a>

## 1d. How to find the list of elements in column A, but not in column B without duplicates?



```{figure} img/chapter8/4.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.array_except(col1, col2)</b>

returns an array of the elements in col1 but not in col2, without duplicates.
 

<b>Parameters</b>
- col1 – name of column containing array
- col2 – name of column containing array
'''

<b>Input:  Spark data frame with 2 array columns </b>

In [12]:
df3 = spark.createDataFrame([([1, 2, 3, 4, 5],[6, 7, 8, 9, 10]), ([4, 5, 5, 4, 6],[6, 2, 3, 2, 4])], ['A', 'B'])
df3.show()

+---------------+----------------+
|              A|               B|
+---------------+----------------+
|[1, 2, 3, 4, 5]|[6, 7, 8, 9, 10]|
|[4, 5, 5, 4, 6]| [6, 2, 3, 2, 4]|
+---------------+----------------+

<b>Output :  Spark data frame with a result array column </b>

In [13]:
from pyspark.sql.functions import array_except
df4 = df3.select(array_except(df3.A, df3.B).alias("in_A_not_in_B"))
df4.show()

+---------------+
|  in_A_not_in_B|
+---------------+
|[1, 2, 3, 4, 5]|
|            [5]|
+---------------+

<b> Summary:</b>

In [14]:
print("Input                     ",            "Output")
display_side_by_side(df3.toPandas(),df4.toPandas())

Input                      Output

<a id='6'></a>

## 1e.How to sort the column array in ascending order?



```{figure} img/chapter8/5.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>pyspark.sql.functions.array_sort(col)</b>

sorts the input array in ascending order. The elements of the input array must be orderable. Null elements will be placed at the end of the returned array.

<b>Parameters</b>
- col – name of column or expression
'''

<b>Input:  Spark data frame with an array column </b>

In [15]:
df_arr = spark.createDataFrame([([2, 1, None, 3, 8, 3, 5],),([1],),([],)], ['data'])
df_arr.show()

+-------------------+
|               data|
+-------------------+
|[2, 1,, 3, 8, 3, 5]|
|                [1]|
|                 []|
+-------------------+

<b>Output :  Spark data frame with a sorted array column </b>

In [16]:
from pyspark.sql.functions import array_sort
df_sort =df_arr.select(array_sort(df_arr.data).alias('sort'))
df_sort.show()

+-------------------+
|               sort|
+-------------------+
|[1, 2, 3, 3, 5, 8,]|
|                [1]|
|                 []|
+-------------------+

<b> Summary:</b>

In [17]:
print("Input                     ",            "Output")
display_side_by_side(df_arr.toPandas(),df_sort.toPandas())

Input                      Output

data
"[2, 1, None, 3, 8, 3, 5]"
[1]
[]
sort
"[1, 2, 3, 3, 5, 8, None]"
[1]
[]

<a id='7'></a>

## 1f. How to create an array from a  column value  repeated  many times?



```{figure} img/chapter8/6.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>pyspark.sql.functions.array_repeat(col, count)</b>


Collection function: creates an array containing a column repeated count times.

'''

<b>Input:  Spark data frame with a column </b>

In [18]:
df_val = spark.createDataFrame([(5,)], ['data'])
df_val.show()

+----+
|data|
+----+
|   5|
+----+

<b>Output :  Spark data frame with a column of array of repeated values</b>

In [19]:
from pyspark.sql.functions import array_repeat
df_repeat = df_val.select(array_repeat(df_val.data, 3).alias('repeat'))
df_repeat.show()

+---------+
|   repeat|
+---------+
|[5, 5, 5]|
+---------+

<b> Summary:</b>

In [20]:
print("Input                     ",            "Output")
display_side_by_side(df_val.toPandas(),df_repeat.toPandas())

Input                      Output

data
5
repeat
"[5, 5, 5]"

<a id='8'></a>

## 1g. How to remove all elements equal to an element from the given array in a column?



```{figure} img/chapter8/7.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>pyspark.sql.functions.array_remove(col, element)</b>

Remove all elements that equal to element from the given array.

<b>Parameters</b>

- col – name of column containing array
- element – element to be removed from the array

'''

<b>Input:  Spark data frame with an array column </b>

In [21]:
df_arr2 = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df_arr2.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with an array column with an element removed</b>

In [22]:
from pyspark.sql.functions import array_remove
df_arr3 = df_arr2.select(array_remove(df_arr2.data, 4).alias("array_remove_4"))
df_arr3.show()

+--------------+
|array_remove_4|
+--------------+
|  [1, 2, 3, 8]|
|[5, 32, 32, 6]|
+--------------+

<b> Summary:</b>

In [23]:
print("Input                     ",            "Output")
display_side_by_side(df_arr2.toPandas(),df_arr3.toPandas())

Input                      Output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
array_remove_4
"[1, 2, 3, 8]"
"[5, 32, 32, 6]"

<a id='9'></a>

<a id='9'></a>

## 1h . How to locate the position of first occurrence of the given value in the given array in a column?



```{figure} img/chapter8/8.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>pyspark.sql.functions.array_position(col, value)</b>

Collection function: Locates the position of the first occurrence of the given value in the given array. Returns null if either of the arguments are null.

'''

<b>Input:  Spark data frame with an array column</b>

In [24]:
df_pos1 = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df_pos1.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with column giving the position of the element </b>

In [25]:
from pyspark.sql.functions import array_position
df_pos2 = df_pos1.select(array_position(df_pos1.data, 4).alias("array_position_4"))
df_pos2.show()

+----------------+
|array_position_4|
+----------------+
|               5|
|               1|
+----------------+

<b> Summary:</b>

In [26]:
print("Input                     ",            "Output")
display_side_by_side(df_pos1.toPandas(),df_pos2.toPandas())

Input                      Output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
array_position_4
5
1

<a id='10'></a>

## 1i. How to find the minimum value of an array in a column?


```{figure} img/chapter8/9.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>pyspark.sql.functions.array_min(col)</b>

returns the minimum value of the array.

<b>Parameters</b>
- col – name of column or expression
'''

<b>Input:  Spark data frame with an array columns</b>

In [27]:
df_arr = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df_arr.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with a column </b>

In [28]:
from pyspark.sql.functions import array_min
df_min = df_arr.select(array_min(df_arr.data).alias("array_min"))
df_min.show()

+---------+
|array_min|
+---------+
|        1|
|        4|
+---------+

<b> Summary:</b>

In [29]:
print("Input                     ",            "Output")
display_side_by_side(df_arr.toPandas(),df_min.toPandas())

Input                      Output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
array_min
1
4

<a id='11'></a>

## 1j. How to find the maximum value of an array in a column?


```{figure} img/chapter8/10.png
---
align: center
---
```

Lets first understand the syntax


```{admonition} Syntax
<b>pyspark.sql.functions.array_max(col)</b>

returns the maximum value of the array.

<b>Parameters</b>
- col – name of column or expression
'''

<b>Input:  Spark data frame with an array column</b>

In [30]:
df = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with a column</b>

In [31]:
from pyspark.sql.functions import array_max
df_max = df.select(array_max(df.data).alias("array_max"))
df_max.show()

+---------+
|array_max|
+---------+
|        8|
|       32|
+---------+

<b> Summary:</b>

In [32]:
print("input                     ",            "output")
display_side_by_side(df.toPandas(),df_max.toPandas())

input                      output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
array_max
8
32

<a id='12'></a>

## 1k. How to convert a column of nested arrays into a map column?



```{figure} img/chapter8/11.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.map_from_arrays(col1, col2)</b>

Creates a new map from two arrays.

<b>Parameters</b>
- col1 – name of column containing a set of keys. All elements should not be null
- col2 – name of column containing a set of values

'''

<b>Input:  Spark data frame with a map column </b>

In [33]:
df = spark.sql("SELECT array(struct(1, 'a'), struct(2, 'b')) as data")
df.show()

+----------------+
|            data|
+----------------+
|[[1, a], [2, b]]|
+----------------+

<b>Output :  Spark data frame with a date column</b>

In [34]:
from pyspark.sql.functions import map_from_entries
df_map = df.select(map_from_entries("data").alias("map"))
df_map.show()

+----------------+
|             map|
+----------------+
|[1 -> a, 2 -> b]|
+----------------+

<b> Summary:</b>

In [35]:
print("Input                     ",            "Output")
display_side_by_side(df.toPandas(),df_map.toPandas())

Input                      Output

data
"[(1, a), (2, b)]"
map
"{1: 'a', 2: 'b'}"

<a id='13'></a>

## 1l. How to sort an array in a column in ascending or descending order?



```{figure} img/chapter8/12.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax
<b>pyspark.sql.functions.sort_array(col, asc=True)</b>

sorts the input array in ascending or descending order according to the natural ordering of the array elements. Null elements will be placed at the beginning of the returned array in ascending order or at the end of the returned array in descending order.

<b>Parameters</b>
- col – name of column or expression
'''

<b>Input:  Spark data frame with an array column </b>

In [36]:
df = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with a sorted array column  </b>

In [37]:
from pyspark.sql.functions import sort_array
df_asc = df.select(sort_array(df.data, asc=True).alias('asc'))
df_asc.show()

+-----------------+
|              asc|
+-----------------+
|  [1, 2, 3, 4, 8]|
|[4, 5, 6, 32, 32]|
+-----------------+

In [38]:
from pyspark.sql.functions import sort_array
df_desc = df.select(sort_array(df.data, asc=False).alias('desc'))
df_desc.show()

+-----------------+
|             desc|
+-----------------+
|  [8, 4, 3, 2, 1]|
|[32, 32, 6, 5, 4]|
+-----------------+

<b> Summary:</b>

In [39]:
print("Input                     ",            "Output")
display_side_by_side(df.toPandas(),df_asc.toPandas(), df_desc.toPandas())

Input                      Output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
asc
"[1, 2, 3, 4, 8]"
"[4, 5, 6, 32, 32]"
desc
"[8, 4, 3, 2, 1]"
"[32, 32, 6, 5, 4]"

<a id='15'></a>

<a id='14'></a>

## 1m. How to slice an array in a column?



```{figure} img/chapter8/13.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.map_from_arrays(col1, col2)</b>

Creates a new map from two arrays.

<b>Parameters</b>
- col1 – name of column containing a set of keys. All elements should not be null
- col2 – name of column containing a set of values

'''

<b>Input:  Spark data frame with an array column </b>

In [40]:
df = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with an array column</b>

In [41]:
from pyspark.sql.functions import slice
df.select(slice(df.data, 2, 3).alias('slice')).show()

+-----------+
|      slice|
+-----------+
|  [2, 3, 8]|
|[5, 32, 32]|
+-----------+

<b> Summary:</b>

In [42]:
print("Input                     ",            "Output")
display_side_by_side(df.toPandas(),df_map.toPandas())

Input                      Output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
map
"{1: 'a', 2: 'b'}"

<a id='15'></a>

## 1n. How to shuffle a column containing an array?



```{figure} img/chapter8/14.png
---
align: center
---
```



```{admonition} Syntax

<b>pyspark.sql.functions.shuffle(col)</b>

Generates a random permutation of the given array.


'''

<b>Input:  Spark data frame with an array column </b>

In [43]:
df = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with shuffled array column</b>

In [44]:
from pyspark.sql.functions import shuffle
df_shu = df.select(shuffle(df.data).alias('shuffle'))
df_shu.show()

+-----------------+
|          shuffle|
+-----------------+
|  [2, 4, 8, 3, 1]|
|[32, 5, 4, 6, 32]|
+-----------------+

<b> Summary:</b>

In [45]:
print("Input                     ",            "Output")
display_side_by_side(df.toPandas(),df_shu.toPandas())

Input                      Output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
shuffle
"[2, 4, 8, 3, 1]"
"[32, 5, 4, 6, 32]"

<a id='16'></a>

## 1o. How to create a  array column  containing elements with sequence(start, stop, step)?



```{figure} img/chapter8/15.png
---
align: center
---
```



```{admonition} Syntax

<b>pyspark.sql.functions.sequence(start, stop, step=None)</b>

Generate a sequence of integers from start to stop, incrementing by step. If step is not set, incrementing by 1 if start is less than or equal to stop, otherwise -1.


'''

<b>Input:  Spark data frame </b>

In [46]:
df = spark.createDataFrame([(-2, 2)], ('A', 'B'))
df.show()

+---+---+
|  A|  B|
+---+---+
| -2|  2|
+---+---+

<b>Output :  Spark data frame with an array sequence</b>

In [47]:
from pyspark.sql.functions import sequence
df_seq = df.select(sequence('A', 'B').alias('seq'))
df_seq.show()

+-----------------+
|              seq|
+-----------------+
|[-2, -1, 0, 1, 2]|
+-----------------+

<b> Summary:</b>

In [48]:
print("Input                     ",            "Output")
display_side_by_side(df.toPandas(),df_seq.toPandas())

Input                      Output

<a id='17'></a>

## 1p. How to reverse the order(not reverse sort) of an array in a column ?


```{figure} img/chapter8/16.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.map_from_arrays(col1, col2)</b>

Creates a new map from two arrays.

<b>Parameters</b>
- col1 – name of column containing a set of keys. All elements should not be null
- col2 – name of column containing a set of values

'''

<b>Input:  Spark data frame with an array column </b>

In [49]:
df_arr = spark.createDataFrame([([1, 2, 3, 8, 4],), ([4, 5, 32, 32, 6],)], ['data'])
df_arr.show()

+-----------------+
|             data|
+-----------------+
|  [1, 2, 3, 8, 4]|
|[4, 5, 32, 32, 6]|
+-----------------+

<b>Output :  Spark data frame with a reverse ordered array column</b>

In [50]:
from pyspark.sql.functions import reverse
df_rev = df_arr.select(reverse(df_arr.data).alias('reverse_order'))
df_rev.show(truncate=False)

+-----------------+
|reverse_order    |
+-----------------+
|[4, 8, 3, 2, 1]  |
|[6, 32, 32, 5, 4]|
+-----------------+

<b> Summary:</b>

In [51]:
print("Input                     ",            "Output")
display_side_by_side(df_arr.toPandas(),df_rev.toPandas())

Input                      Output

data
"[1, 2, 3, 8, 4]"
"[4, 5, 32, 32, 6]"
reverse_order
"[4, 8, 3, 2, 1]"
"[6, 32, 32, 5, 4]"

<a id='18'></a>

## 1q. How to combine two array columns into a map column?



```{figure} img/chapter8/17.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.map_from_arrays(col1, col2)</b>

Creates a new map from two arrays.

<b>Parameters</b>
- col1 – name of column containing a set of keys. All elements should not be null
- col2 – name of column containing a set of values



'''

<b>Input:  Spark data frame with 2 array columns </b>

In [52]:
df_arrm = spark.createDataFrame([([1, 2, 3, 4, 5],[6, 7, 8, 9, 10]), ([4, 5, 6, 7, 8],[6, 2, 3, 9, 4])], ['A','B'])
df_arrm.show()

+---------------+----------------+
|              A|               B|
+---------------+----------------+
|[1, 2, 3, 4, 5]|[6, 7, 8, 9, 10]|
|[4, 5, 6, 7, 8]| [6, 2, 3, 9, 4]|
+---------------+----------------+

<b>Output :  Spark data frame with a map column</b>

In [53]:
from pyspark.sql.functions import map_from_arrays
df_map = df_arrm.select(map_from_arrays(df_arrm.A, df_arrm.B).alias('map'))
df_map.show(truncate=False)

+-----------------------------------------+
|map                                      |
+-----------------------------------------+
|[1 -> 6, 2 -> 7, 3 -> 8, 4 -> 9, 5 -> 10]|
|[4 -> 6, 5 -> 2, 6 -> 3, 7 -> 9, 8 -> 4] |
+-----------------------------------------+

<b> Summary:</b>

In [54]:
print("Input                     ",            "Output")
display_side_by_side(df_arrm.toPandas(),df_map.toPandas())

Input                      Output

<a id='19'></a>

## 1r. How to concatenate the elements of an array in a column?


```{figure} img/chapter8/18.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.concat(*cols)</b>

Concatenates multiple input columns together into a single column. The function works with strings, binary and compatible array columns.


'''

<b>Input:  Spark data frame with a map column </b>

In [55]:
df_arr1 = spark.createDataFrame([([1, 2, 3, 4, 5],[6, 7, 8, 9, 10]), ([4, 5, 6, 7, 8],[6, 2, 3, 9, 4])], ['A','B'])
df_arr1.show()

+---------------+----------------+
|              A|               B|
+---------------+----------------+
|[1, 2, 3, 4, 5]|[6, 7, 8, 9, 10]|
|[4, 5, 6, 7, 8]| [6, 2, 3, 9, 4]|
+---------------+----------------+

<b>Output :  Spark data frame with a date column</b>

In [56]:
from pyspark.sql.functions import concat
df_con = df_arr1.select(concat(df_arr1.A, df_arr1.B).alias("concatenate"))
df_con.show(2,False)

+-------------------------------+
|concatenate                    |
+-------------------------------+
|[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]|
|[4, 5, 6, 7, 8, 6, 2, 3, 9, 4] |
+-------------------------------+

<b> Summary:</b>

In [57]:
print("Input                     ",            "Output")
display_side_by_side(df_arr1.toPandas(),df_con.toPandas())

Input                      Output

<a id='20'></a>

## 1s. How to find overlap between 2 array columns?



```{figure} img/chapter8/19.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.arrays_overlap(a1, a2)</b>

Collection function: returns true if the arrays contain any common non-null element; if not, returns null if both the arrays are non-empty and any of them contains a null element; returns false otherwise



'''

<b>Input:  Spark data frame with array columns </b>

In [58]:
df_over = spark.createDataFrame([(["a", "b"], ["b", "c"],), (["a"], ["b", "c"],),(["a", None], ["b", None],) ], ['A', 'B'])
df_over.show()

+------+------+
|     A|     B|
+------+------+
|[a, b]|[b, c]|
|   [a]|[b, c]|
|  [a,]|  [b,]|
+------+------+

<b>Output :  Spark data frame </b>

In [59]:
from pyspark.sql.functions import arrays_overlap
df_overlap = df_over.select(arrays_overlap(df_over.A, df_over.B).alias("overlap"))
df_overlap.show()

+-------+
|overlap|
+-------+
|   true|
|  false|
|   null|
+-------+

<b> Summary:</b>

In [60]:
print("Input                     ",            "Output")
display_side_by_side(df_over.toPandas(),df_overlap.toPandas())

Input                      Output

<a id='21'></a>

## 1t. How to flatten a column containing nested arrays?



```{figure} img/chapter8/20.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.flatten(col)</b>

creates a single array from an array of arrays. If a structure of nested arrays is deeper than two levels, only one level of nesting is removed.

'''

<b>Input:  Spark data frame with nested array column </b>

In [61]:
df4 = spark.createDataFrame([([[1, 2, 3, 8, 4],[6,8, 10]],), ([[4, 5, 32, 32, 6]],)], ['data'])
df4.show(truncate=False)

+-----------------------------+
|data                         |
+-----------------------------+
|[[1, 2, 3, 8, 4], [6, 8, 10]]|
|[[4, 5, 32, 32, 6]]          |
+-----------------------------+

<b>Output :  Spark data frame with a flattended array column</b>

In [62]:
from pyspark.sql.functions import flatten
df_flat = df4.select(flatten(df4.data).alias('flatten'))
df_flat.show(truncate=False)

+-------------------------+
|flatten                  |
+-------------------------+
|[1, 2, 3, 8, 4, 6, 8, 10]|
|[4, 5, 32, 32, 6]        |
+-------------------------+

<b> Summary:</b>

In [63]:
print("Input                     ",            "Output")
display_side_by_side(df4.toPandas(),df_flat.toPandas())

Input                      Output

data
"[[1, 2, 3, 8, 4], [6, 8, 10]]"
"[[4, 5, 32, 32, 6]]"
flatten
"[1, 2, 3, 8, 4, 6, 8, 10]"
"[4, 5, 32, 32, 6]"

<a id='22'></a>

## 1u. How to concatenate the elements of an array in a column?


```{figure} img/chapter8/21.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.array_join(col, delimiter, null_replacement=None)</b>

Concatenates the elements of column using the delimiter. Null values are replaced with null_replacement if set, otherwise they are ignored.

'''

<b>Input:  Spark data frame with an array column </b>

In [64]:
df_a1 = spark.createDataFrame([([1, 2, 3, 4, 5],), ([4, 5, None, 4, 6],)], ['A'])
df_a1.show()

+---------------+
|              A|
+---------------+
|[1, 2, 3, 4, 5]|
|  [4, 5,, 4, 6]|
+---------------+

<b>Output :  Spark data frame with a concatenated array element column</b>

In [65]:
from pyspark.sql.functions import array_join
df_j1 = df_a1.select(array_join(df_a1.A,',').alias("array_join"))
df_j1.show()

+----------+
|array_join|
+----------+
| 1,2,3,4,5|
|   4,5,4,6|
+----------+

In [66]:
df_j2 = df_a1.select(array_join(df_a1.A,',', null_replacement="NA").alias("array_join"))
df_j2.show()

+----------+
|array_join|
+----------+
| 1,2,3,4,5|
|4,5,NA,4,6|
+----------+

<b> Summary:</b>

In [67]:
print("Input                     ",            "Output")
display_side_by_side(df_a1.toPandas(),df_j1.toPandas(), df_j2.toPandas())

Input                      Output

A
"[1, 2, 3, 4, 5]"
"[4, 5, None, 4, 6]"
array_join
"1,2,3,4,5"
"4,5,4,6"
array_join
"1,2,3,4,5"
"4,5,NA,4,6"

<a id='23'></a>

## 1v. How to zip 2 array columns ?



```{figure} img/chapter8/22.png
---
align: center
---
```

Lets first understand the syntax

```{admonition} Syntax

<b>pyspark.sql.functions.arrays_zip(*cols)</b>


Collection function: Returns a merged array of structs in which the N-th struct contains all N-th values of input arrays.

Parameters
cols – columns of arrays to be merged.

'''

<b>Input:  Spark data frame with an array column </b>

In [68]:
dfz = spark.createDataFrame([(([1, 2, 3], [4, 5, 6]))], ['A', 'B'])
dfz.show()

+---------+---------+
|        A|        B|
+---------+---------+
|[1, 2, 3]|[4, 5, 6]|
+---------+---------+

<b>Output :  Spark data frame with a zipped array column</b>

In [69]:
from pyspark.sql.functions import arrays_zip
df_zip = dfz.select(arrays_zip(dfz.A, dfz.B).alias('zipped'))
df_zip.show(truncate=False)

+------------------------+
|zipped                  |
+------------------------+
|[[1, 4], [2, 5], [3, 6]]|
+------------------------+

<b> Summary:</b>

In [70]:
print("Input                     ",            "Output")
display_side_by_side(dfz.toPandas(),df_zip.toPandas())

Input                      Output